<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
<modules>
<remove name="WebDAVModule" />
</modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="iisnode" path="bundle.js" verb="*" modules="iisnode" />
   <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="ExpressJS">
          <match url="/*" />
          <action type="Rewrite" url="bundle.js" />
        </rule>
      </rules>
    </rewrite>

 <security>
            <requestFiltering allowDoubleEscaping="true">
                <hiddenSegments>
                    <add segment="node_modules" />
                </hiddenSegments>
         <verbs allowUnlisted="true">
                    <add verb="delete" allowed="true" />
                    <add verb="put" allowed="true" />
                    <add verb="all" allowed="true" />
                    <add verb="option" allowed="true" />
                    <add verb="get" allowed="true" />
                    <add verb="post" allowed="true" />
        </verbs>
                <requestLimits>
                    <headerLimits>
                    </headerLimits>
                </requestLimits>
                <alwaysAllowedUrls>
                    <add url="/*" />
                </alwaysAllowedUrls>
                <alwaysAllowedQueryStrings>
                </alwaysAllowedQueryStrings>
            </requestFiltering>
        </security>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />

    <iisnode nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;">
</iisnode>


    <httpErrors errorMode="Detailed" />
  <asp scriptErrorSentToBrowser="true" />
    
   

  </system.webServer>
</configuration>
